@model Systemize.Models.Workflow

@{

    List<string> actions = new List<string> {"Approve", "Deny", "Reassign"};

}
<div>
 

@if (actions != null)
{
       
        
        <div>

            @foreach (var act in actions)
            {

                var url = "../Action/" + Model.Id.ToString() + "?action=" + act  ;

                <a href="@url" class="btn btn-primary btn-sm float-end mx-2 " role="button"> @act </a>

            }

        </div>
}

</div>
