@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Systemize.Models.ViewModel.AvailableActions


@{

    List<string> actions = Model.Actions;

}
<div>
 

@if (actions != null)
{
        <h2>Available Actions</h2>
        <div>

            @foreach (var act in actions)
            {
                <a href="#" class="btn btn-primary" role="button"> @act </a>  

             }

        </div>
}

</div>
