@model Systemize.Models.ViewModel.Workflow.WorkflowEntire

@{

    

}
<div>
 

@if (Model.Actions != null)
{
      


        
        <div>

            @foreach (var act in Model.Actions)
            {

                var url = "../Action/" + Model.Workflow.Id.ToString() + "?act=" + act.ActionType  ;

                <a href="@url" class="btn @act.Button btn-sm float-end mx-2 " role="button" data-toggle="tooltip" data-placement="bottom" title="@act.Description"> @act.Name </a>

              

            }

        </div>
}

</div>
