@model Systemize.Models.Workflow

@{
    ViewData["Title"] = "Builder";

    var local_form = @Model.FormData.ToString();

}

<script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="~/lib/formbuilder/form-builder.min.js" type="text/javascript"></script>

<input id='myHiddenInput' type="text" value=@local_form />

<div id="fb-editor"></div>
<div class="render-wrap"></div>

<script>
    var formVal  = @local_form  //$("#myHiddenInput").val();
    console.log(formVal)
    console.log(JSON.parse(formVal););


    var options = {

      // onsave data
      onSave: function(evt, formData) {
        
          var local_data = JSON.stringify(formData);

          $.ajax({
              type: "POST",
              url: "/Workflow/FormData/" + @Model.Id.ToString(),
              data: local_data,
              contentType: "application/json; charset=utf-8",
              dataType: "json",
              success: function(response) {
                  console.log("Form data saved successfully.");
                  location.reload(); // Refresh the page
              },
              error: function(error) {
                  console.error("Error saving form data:", error);
              }
          });

          //console.log("formbuilder saved");
          //window.sessionStorage.setItem('formData', JSON.stringify(formData));
        },

      dataType: 'json',
                //onload form
      formData: formVal
    };

    jQuery(function($) {
   
        console.log(formVal);

        $(document.getElementById('fb-editor')).formBuilder(options);
    });
</script>





<div>
    <a asp-action="Details" asp-route-id="@Model.Id" class="float-end mx-2">Back to Workflow</a>
</div>