@using System.Text.Json
@model Systemize.Models.Workflow

@{
    ViewData["Title"] = "Builder";

    

}

<script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="~/lib/formbuilder/form-builder.min.js" type="text/javascript"></script>



<div id="fb-editor"></div>
<div class="render-wrap"></div>

<script>
    //var local_form = JSON.parse('@Html.Raw(JsonSerializer.Serialize(Model.FormData))');
    var local_form = @Html.Raw(JsonSerializer.Serialize(Model.FormData));
   
    console.log(local_form);

    var options = {

      // onsave data
      onSave: function(evt, formData) {
        
          var local_data = JSON.stringify(formData);

          $.ajax({
              type: "POST",
              url: "/Workflow/FormBuilderSubmit/" + @Model.Id.ToString(),
              data: local_data ,
              contentType: "application/json; charset=utf-8",
              success: function(response) {
                  console.log("Form data saved successfully.");
                  location.reload(); // Refresh the page
              },
              error: function(error) {
                  console.error("Error saving form data:", error);
              }
          });

        },

      dataType: 'json',
                
      formData: local_form
    };


    // onload
    jQuery(function($) {

        $(document.getElementById('fb-editor')).formBuilder(options);
    });
</script>





<div>
    <a asp-action="Details" asp-route-id="@Model.Id" class="float-end mx-2">Back to Workflow</a>
</div>