@model Systemize.Models.Workflow

@{
    ViewData["Title"] = "Builder";
}


<script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="~/lib/formbuilder/form-builder.min.js" type="text/javascript"></script>


<div id="fb-editor"></div>
<div class="render-wrap"></div>

<script>

    var options = {

      // onsave data
      onSave: function(evt, formData) {
        
          console.log("formbuilder saved");
          console.log(formData);
          window.sessionStorage.setItem('formData', JSON.stringify(formData));
        },


      dataType: 'json',
                //onload form
      formData: '[{"type":"button","label":"Button","subtype":"button","className":"btn-default btn","name":"button-1743571180140-0","access":false,"style":"default"}]',
    };


    jQuery(function($) {
        $(document.getElementById('fb-editor')).formBuilder(options);
    });
</script>




<div>
    <a asp-action="Details" asp-route-id="@Model.Id" class="float-end mx-2">Back to Workflow</a>
</div>