@{
    ViewData["Title"] = "Upload";
}
@{
    var WorkflowId = ViewData["WorkflowId"];
}
<h4>Upload Document</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Upload" method="post">
            
                <input id="WorkflowId" name="WorkflowId" class="form-control hidden" value="@WorkflowId" />

          


      
            <div class="form-group">
                <label for="Description" class="control-label">Description</label>
                <input id="Description" name="Description" class="form-control" />
            </div>
            <div class="form-group">
                <label for="DocumentType" class="control-label">Document Type</label>
                <input id="DocumentType" name="DocumentType" class="form-control" />
            </div>

            <div class="form-group">
                <label for="file" class="control-label">File</label>
                <input type="file" name="file" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Upload" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
